html{
  font-family:Arial, sans-serif;
}

header{
  background: #0046be;
}

.container{
  max-width:1280px;
  margin:0 auto;
}

header > ul{
  display:flex;
  justify-content:flex-end;
  height:48px;
  align-items: center;
}

header > ul li{
  padding-left:16px;
}

header ul{
  list-style:none;
  padding-left:0;
  margin:0;
  color:white;
  display:flex;
}

header a{
  color:white;
  text-decoration:none;
}

header > div:not(.dk-blue){
  display:flex;
  justify-content:space-between;
  height:48px;
  align-items:center;
}

.dk-blue{
  background-color:#003DA6;
}

.dk-blue li{
  margin-right:15px;
}

nav ul{
  height:48px;
  align-items:center;
}

header > div:not(.dk-blue) ul:last-child{
  flex-basis:240px;
  display:flex;
  justify-content:space-between;
}



/* gutter spacing is 2.5% */
/* for defaults which will be 2 across one 100%-2.5%/2 */

section > section {
  flex-basis: calc((100% - 2.5%) / 2);
}

/* 100 - (2.5*2) /3 */

section > section:nth-of-type(1),
section > section:nth-of-type(2),
section > section:nth-of-type(3){
  flex-basis: calc((100% - 5%) / 3);
}

main{
  margin-bottom: 100px;
  margin:30px;
}

main > section{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

h3{
  text-align:center;
  flex-basis:100%;
}

footer > ul{
  display: flex;
  flex-wrap:wrap;
}

footer > ul > li{
  flex-basis:100%;
}

footer > ul > li:first-child{
  flex-basis: 70%;
  display:flex;
  flex-wrap:wrap;
}

footer > ul > li:first-child ul {
  flex-basis: 33%;
}

footer > ul > li:first-child ul li:first-child a {
  font-weight:bold;
}

footer > ul > li:nth-child(2) {
  flex-basis: 30%;
}

footer > ul > li:nth-child(2){
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

footer > ul > li:last-child ul li:last-child:after {
  content: '';
}
